* {
    box-sizing: border-box;
    font-family: Bahnschrift;
    margin: 0;
    padding: 0;
}

body {
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    /*height: 80vh;*/
    align-items: center;
    justify-content: center;
    text-align: center;
}

main {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

/*
  # Form
*/

form {
    width: 400px;
    margin: 30px 0;
}

span,
form p {
    font-weight: bold;
}

.input-field, .btn {
    background-color: white;
    padding: 7px;
    margin: 5px;
    border: none;
}

.input-field {
    width: 100%;
}

.btn {
    background-color: black;
    color: white;
    width: 150px;
    cursor: pointer;
}

.btn:hover {
    background-color: gray;
}

.error {
    color: red;
    font-size: .8em;
}

textarea.input-field {
    padding: 20px;
}

/*
  # Navigation
*/

header {
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

nav {
    width: 768px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    align-items: center;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.4s;
}

a:hover {
    color: black;
}

/*
  # Index
*/

.index__body {
    height: 100vh;
}

h3, h1 {
    margin: 10px;
}

main {
    margin-bottom: 50px;
}

/* POOPIES */

.poop_wall {
    width: 500px;
    height: 500px;
    background-image: url("https://www.kindpng.com/picc/m/125-1255974_poop-emoji-vector-free-clipart-png-download-transparent.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.poop {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid saddlebrown;
    position: absolute;
    animation-name: poopie;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.red {
    background-color: orangered;
}

.black {
    background-color: black;
}

.blue {
    background-color: darkblue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

@keyframes poopie {
    50% {
        transform: scale(1.2) ;
    }

    50% {
        transform: scale(1.6) ;
    }

    100% {
        background-image: url("https://www.freepnglogos.com/uploads/poop-png/poop-emojis-archives-jason-graham-4.png");
        background-position: center;
        background-size: cover;
        transform: scale(2) ;
    }
}